{
  "openapi": "3.0.3",
  "info": {
    "title": "CodePact AI API",
    "version": "1.0.0",
    "description": "REST API for CodePact AI — the GitHub organization governance platform.\n\n## Authentication\n\n### CLI API (v1)\nThe v1 endpoints use **Bearer token** authentication. Obtain a token via the\nDevice Authorization Flow (`POST /api/v1/auth/device` → `POST /api/v1/auth/device/token`).\n\nTokens are prefixed with `cp_` and are persistent (no expiry by default).\n\n### Dashboard API\nAll `/api/installations/*` and `/api/user/*` endpoints require a valid **session cookie**\nobtained via GitHub OAuth login at `POST /api/auth/[...all]`.\n\n### Internal API\n`/api/internal/*` endpoints require the `x-internal-secret` header matching the\n`INTERNAL_API_SECRET` environment variable. These are not intended for external use.",
    "contact": {
      "name": "CodePact AI",
      "url": "https://codepact.ai",
      "email": "support@codepact.ai"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://codepact.ai/terms"
    }
  },
  "servers": [
    {
      "url": "https://codepact.ai/api",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Local Development"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Platform health check"
    },
    {
      "name": "CLI Auth",
      "description": "Device Authorization Flow for the CodePact CLI (RFC 8628)"
    },
    {
      "name": "CLI Verify",
      "description": "CLI context verification and account status"
    },
    {
      "name": "Installations",
      "description": "GitHub App installation management and repository sync"
    },
    {
      "name": "User Portfolio",
      "description": "Authenticated user's organization portfolio and cache management"
    },
    {
      "name": "AI Chat",
      "description": "LangGraph AI assistant thread management"
    },
    {
      "name": "Internal",
      "description": "Internal service-to-service endpoints (not for external use)"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "CodePact API token obtained via Device Authorization Flow (prefix `cp_`)"
      },
      "SessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "better-auth.session_token",
        "description": "Session cookie set by GitHub OAuth login"
      },
      "InternalSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "x-internal-secret",
        "description": "Internal service secret — not for external use"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code",
            "example": "unauthorized"
          },
          "error_description": {
            "type": "string",
            "description": "Human-readable error description",
            "example": "Token has expired"
          }
        },
        "required": [
          "error"
        ]
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-01T00:00:00.000Z"
          }
        },
        "required": [
          "status",
          "timestamp"
        ]
      },
      "DeviceAuthorizationResponse": {
        "type": "object",
        "properties": {
          "device_code": {
            "type": "string",
            "description": "Opaque device code used to poll for the access token",
            "example": "a3f8e2b1c4d5..."
          },
          "user_code": {
            "type": "string",
            "description": "Short code for the user to enter in the browser (format XXXX-XXXX)",
            "example": "AB12-CD34"
          },
          "verification_uri": {
            "type": "string",
            "format": "uri",
            "description": "URL where the user should enter the user_code",
            "example": "https://codepact.ai/activate"
          },
          "expires_in": {
            "type": "integer",
            "description": "Seconds until the device_code expires",
            "example": 600
          },
          "interval": {
            "type": "integer",
            "description": "Recommended polling interval in seconds",
            "example": 5
          }
        },
        "required": [
          "device_code",
          "user_code",
          "verification_uri",
          "expires_in",
          "interval"
        ]
      },
      "DeviceTokenRequest": {
        "type": "object",
        "properties": {
          "device_code": {
            "type": "string",
            "minLength": 1,
            "description": "The device_code received from POST /v1/auth/device"
          }
        },
        "required": [
          "device_code"
        ]
      },
      "DeviceTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "CodePact API token with `cp_` prefix",
            "example": "cp_a3f8e2b1..."
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "expires_in": {
            "type": "integer",
            "nullable": true,
            "description": "Token lifetime in seconds. null = persistent token",
            "example": null
          }
        },
        "required": [
          "access_token",
          "token_type",
          "expires_in"
        ]
      },
      "DeviceTokenPending": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "authorization_pending",
              "expired_token",
              "invalid_grant"
            ]
          },
          "error_description": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "VerifyResponse": {
        "type": "object",
        "properties": {
          "is_installed": {
            "type": "boolean",
            "description": "Whether the CodePact GitHub App is installed for the target"
          },
          "installation_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to install the GitHub App (useful when is_installed is false)",
            "example": "https://github.com/apps/codepact-ai/installations/new"
          },
          "tier": {
            "type": "string",
            "enum": [
              "free",
              "pro",
              "enterprise"
            ],
            "description": "Current subscription tier for the authenticated user"
          },
          "target": {
            "type": "string",
            "description": "The resolved org or repo owner login",
            "example": "my-org"
          },
          "user_id": {
            "type": "string",
            "description": "Internal CodePact user ID"
          }
        },
        "required": [
          "is_installed",
          "installation_url",
          "tier",
          "target",
          "user_id"
        ]
      },
      "Installation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Internal installation UUID"
          },
          "github_id": {
            "type": "integer",
            "description": "GitHub installation ID"
          },
          "target_login": {
            "type": "string",
            "description": "GitHub org or user login",
            "example": "my-org"
          },
          "target_type": {
            "type": "string",
            "enum": [
              "Organization",
              "User"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "suspended"
            ]
          }
        },
        "required": [
          "id",
          "github_id",
          "target_login"
        ]
      },
      "Repository": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "GitHub repository ID"
          },
          "name": {
            "type": "string",
            "example": "api-service"
          },
          "full_name": {
            "type": "string",
            "example": "my-org/api-service"
          },
          "private": {
            "type": "boolean"
          },
          "default_branch": {
            "type": "string",
            "example": "main"
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/my-org/api-service"
          },
          "compliance_score": {
            "type": "number",
            "nullable": true,
            "minimum": 0,
            "maximum": 100,
            "description": "Current compliance score (0–100). null if not yet evaluated."
          },
          "last_scan": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "ISO 8601 timestamp of the last compliance scan"
          },
          "active_pacts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Slugs of Pacts currently applied to this repo",
            "example": [
              "security-baseline",
              "codepact-active"
            ]
          },
          "has_config": {
            "type": "boolean",
            "description": "Whether a codepact.yaml exists in the repo"
          },
          "synced_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "full_name",
          "private",
          "default_branch",
          "html_url",
          "compliance_score",
          "last_scan",
          "active_pacts",
          "has_config",
          "synced_at"
        ]
      },
      "RepositoryListResponse": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Repository"
            }
          },
          "installation": {
            "$ref": "#/components/schemas/Installation"
          },
          "cache_hit": {
            "type": "boolean",
            "description": "Whether the response was served from the local cache"
          }
        },
        "required": [
          "repositories",
          "installation",
          "cache_hit"
        ]
      },
      "SyncResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "synced": {
            "type": "integer",
            "description": "Number of repositories successfully synced"
          },
          "errors": {
            "type": "integer",
            "description": "Number of repositories that failed to sync"
          },
          "total": {
            "type": "integer",
            "description": "Total repositories returned by GitHub"
          },
          "installation": {
            "$ref": "#/components/schemas/Installation"
          }
        },
        "required": [
          "success",
          "synced",
          "errors",
          "total",
          "installation"
        ]
      },
      "SyncSecurityResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "synced": {
            "type": "object",
            "properties": {
              "repositories": {
                "type": "integer",
                "description": "Repositories with security data synced"
              },
              "alerts": {
                "type": "integer",
                "description": "Total security alerts upserted (Dependabot + secret scanning + code scanning)"
              }
            },
            "required": [
              "repositories",
              "alerts"
            ]
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Error messages for repos that failed to sync"
          }
        },
        "required": [
          "success",
          "synced",
          "errors"
        ]
      },
      "UninstallResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "webhookDeleted": {
            "type": "boolean",
            "description": "Whether the org webhook was successfully cleaned up before uninstall"
          },
          "webhookError": {
            "type": "string",
            "nullable": true,
            "description": "Error message if webhook deletion failed"
          },
          "uninstallUrl": {
            "type": "string",
            "format": "uri",
            "description": "GitHub URL to complete the uninstall flow",
            "example": "https://github.com/organizations/my-org/settings/installations/12345"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "webhookDeleted",
          "uninstallUrl",
          "message"
        ]
      },
      "OrgStatus": {
        "type": "string",
        "enum": [
          "authorized",
          "sso_pending",
          "app_not_installed"
        ],
        "description": "- `authorized`: OAuth access + GitHub App installed\n- `sso_pending`: App installed but OAuth token lacks SAML SSO grant\n- `app_not_installed`: OAuth access but App not installed on this org"
      },
      "OrganizationWithStatus": {
        "type": "object",
        "properties": {
          "login": {
            "type": "string",
            "example": "my-org"
          },
          "avatar_url": {
            "type": "string",
            "format": "uri"
          },
          "org_id": {
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/OrgStatus"
          },
          "installation_id": {
            "type": "integer",
            "nullable": true,
            "description": "GitHub installation ID. null if App not installed."
          },
          "governance": {
            "type": "object",
            "nullable": true,
            "properties": {
              "repoCount": {
                "type": "integer"
              },
              "avgCompliance": {
                "type": "number",
                "nullable": true
              },
              "hasConfigRepo": {
                "type": "boolean"
              }
            },
            "required": [
              "repoCount",
              "avgCompliance",
              "hasConfigRepo"
            ],
            "description": "Governance stats for authorized orgs. null for sso_pending or app_not_installed."
          }
        },
        "required": [
          "login",
          "avatar_url",
          "org_id",
          "status",
          "installation_id",
          "governance"
        ]
      },
      "PortfolioResponse": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "authorized": {
                "type": "integer"
              },
              "sso_pending": {
                "type": "integer"
              },
              "app_not_installed": {
                "type": "integer"
              }
            },
            "required": [
              "total",
              "authorized",
              "sso_pending",
              "app_not_installed"
            ]
          },
          "organizations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationWithStatus"
            }
          },
          "actions": {
            "type": "object",
            "properties": {
              "grant_sso_url": {
                "type": "string",
                "format": "uri",
                "description": "GitHub URL to grant SAML SSO access for the OAuth token"
              },
              "install_app_url": {
                "type": "string",
                "format": "uri",
                "description": "GitHub URL to install the CodePact GitHub App on a new org"
              }
            }
          },
          "_cached": {
            "type": "boolean",
            "description": "Present and true when response was served from Redis cache"
          },
          "_cachedAt": {
            "type": "integer",
            "description": "Unix timestamp (ms) when the cache was populated"
          }
        },
        "required": [
          "summary",
          "organizations",
          "actions"
        ]
      },
      "ThreadResponse": {
        "type": "object",
        "properties": {
          "thread_id": {
            "type": "string",
            "format": "uuid",
            "description": "Newly created LangGraph thread ID for an AI chat session"
          }
        },
        "required": [
          "thread_id"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Health check",
        "description": "Returns platform status. Used by GKE readiness probes and uptime monitors.",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Platform is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/device": {
      "post": {
        "operationId": "initiateDeviceAuth",
        "summary": "Initiate Device Authorization Flow",
        "description": "Starts the OAuth Device Authorization Flow (RFC 8628) for the CLI.\n\n1. CLI calls this endpoint → gets `device_code` + `user_code`\n2. CLI displays the `user_code` and directs the user to `verification_uri`\n3. User logs in at `verification_uri/activate` and enters the `user_code`\n4. CLI polls `POST /v1/auth/device/token` with the `device_code` until approved",
        "tags": [
          "CLI Auth"
        ],
        "responses": {
          "200": {
            "description": "Device authorization initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceAuthorizationResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to initiate device authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/device/token": {
      "post": {
        "operationId": "pollDeviceToken",
        "summary": "Poll for CLI access token",
        "description": "Polling endpoint for the CLI to retrieve an access token after the user approves the device authorization request in the browser.\n\n**Poll every `interval` seconds** (default 5s) until you receive `access_token` or an error other than `authorization_pending`.\n\n| Response | Meaning |\n|---|---|\n| `access_token` | User approved — store this token |\n| `authorization_pending` | Still waiting for user — keep polling |\n| `expired_token` | device_code expired — restart the flow |\n| `invalid_grant` | Unexpected state — restart the flow |",
        "tags": [
          "CLI Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Authorization pending, expired, or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceTokenPending"
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify": {
      "get": {
        "operationId": "verifyCLIContext",
        "summary": "Verify CLI context",
        "description": "Checks whether the authenticated CLI user has the CodePact GitHub App installed\nfor the target organization or repository. Also returns the current billing tier.\n\nUsed by the CLI on every command run to validate the connection is healthy.",
        "tags": [
          "CLI Verify"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "GitHub organization login to verify",
              "example": "my-org"
            },
            "required": false,
            "description": "GitHub organization login to verify",
            "name": "org",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Full repository name (owner/repo) to verify",
              "example": "my-org/api-service"
            },
            "required": false,
            "description": "Full repository name (owner/repo) to verify",
            "name": "repo",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Context verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing org or repo parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/installations/{id}/sync": {
      "post": {
        "operationId": "syncInstallation",
        "summary": "Sync installation repositories",
        "description": "Triggers a full repository sync for an installation from GitHub API.\n\nUseful for backfilling repositories when the initial installation webhook was missed.",
        "tags": [
          "Installations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "GitHub installation ID",
              "example": "12345678"
            },
            "required": true,
            "description": "GitHub installation ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Sync completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid installation ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Installation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Sync failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/installations/{id}/sync-security": {
      "post": {
        "operationId": "syncInstallationSecurity",
        "summary": "Sync security alerts",
        "description": "Syncs Dependabot alerts, secret scanning alerts, and code scanning alerts from GitHub\nfor all repositories in the installation.",
        "tags": [
          "Installations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "GitHub installation ID",
              "example": "12345678"
            },
            "required": true,
            "description": "GitHub installation ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Security sync completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncSecurityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid installation ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Installation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/installations/{id}/uninstall": {
      "post": {
        "operationId": "uninstallInstallation",
        "summary": "Uninstall GitHub App",
        "description": "Initiates the GitHub App uninstallation flow for an installation.\n\nCleans up the org webhook and returns the GitHub URL to complete the uninstall.",
        "tags": [
          "Installations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "GitHub installation ID",
              "example": "12345678"
            },
            "required": true,
            "description": "GitHub installation ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Uninstall prepared",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UninstallResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Installation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/installations/{id}/repositories": {
      "get": {
        "operationId": "listInstallationRepositories",
        "summary": "List repositories",
        "description": "Returns all repositories for an installation, enriched with governance and\ncompliance data. Served from local cache when available.",
        "tags": [
          "Installations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "GitHub installation ID",
              "example": "12345678"
            },
            "required": true,
            "description": "GitHub installation ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Repository list with governance data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid installation ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Installation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/installations": {
      "get": {
        "operationId": "getUserPortfolio",
        "summary": "Get user portfolio",
        "description": "Returns a portfolio-wide view of all organizations the authenticated user has access to,\nwith 3 possible states per org: `authorized`, `sso_pending`, or `app_not_installed`.\n\nResponses are cached in Redis per user for fast subsequent loads.",
        "tags": [
          "User Portfolio"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ],
              "description": "Set to \"true\" to bypass cache and force a fresh fetch"
            },
            "required": false,
            "description": "Set to \"true\" to bypass cache and force a fresh fetch",
            "name": "refresh",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "User portfolio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/warm-cache": {
      "post": {
        "operationId": "warmUserCache",
        "summary": "Pre-warm portfolio cache",
        "description": "Triggers background population of the Redis portfolio cache for the authenticated user.\n\nCalled automatically on login to ensure near-zero latency on first dashboard load.",
        "tags": [
          "User Portfolio"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cache warming initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ai/langgraph/threads": {
      "post": {
        "operationId": "createAIThread",
        "summary": "Create AI chat thread",
        "description": "Creates a new LangGraph thread for an AI assistant session.\n\nReturns a `thread_id` which must be passed to subsequent stream requests.",
        "tags": [
          "AI Chat"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Thread created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Failed to create thread",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/internal/invalidate-cache": {
      "post": {
        "operationId": "invalidateCache",
        "summary": "Invalidate cache",
        "description": "Internal endpoint for the webhook processor to invalidate frontend Redis caches.\n\nRequires the `x-internal-secret` header. **Not intended for external use.**",
        "tags": [
          "Internal"
        ],
        "security": [
          {
            "InternalSecret": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "portfolio",
                      "teams",
                      "all"
                    ],
                    "description": "Which cache group to invalidate"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cache invalidated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid cache type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid internal secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}
